<form method="post" action="{{ path('app_exercice_back_delete', {'exerciceId': exercice.exerciceId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice.exerciceId) }}">
    <button class="btn">Delete</button>
</form>
