{% extends 'baseBack.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>Create new Produit</h1>

    <a href="{{ path('app_produit_back_index') }}">back to list</a>
    {{ include('produit_back/_form.html.twig') }}

{% endblock %}
