{% extends 'base.html.twig' %}

{% block title %}
    Categorie Index
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 mb-4">Categorie</h1>

        <div class="table-responsive">
        <table class="table table-bordered" style="background-color: #ffffff;">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.nom }}</td>
                        <td>
                            <a href="{{ path('app_categorie_exercice_show', {'categorieId': categorie.categorieId}) }}" class="btn btn-sm btn-primary mr-1">Show Exercises</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
